language: node_js
node_js:
  - '11'
  - '10'
  - '8'
branches:
  only:
    - master
before_install:
  - npm i -g codecov
install:
  - npm install
script:
  - npm-run-all clean lint test build
  - codecov
